
<div class="hide" >
<div class="content" role="main">


  <div class="card-container">
    <img class="myimage"  width="250" src="https://png.pngtree.com/png-vector/20190704/ourmid/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg"  >
    <h1 id="myname">Md Shakil Ahmad</h1>

  </div>



<p id="textme">I was born in 1998. I live in Jamshedpur Jharkhand India and work in MITS as a Software Developer/Architect.<br>
   I’ve been a professional developer for more than 1 years.
  I’ve mostly worked professionally with Java, C, C++ and Python but also a little bit with Ruby, Perl and PHP.
  I’ve published more than 20 articles for German programming magazines, mostly about Ruby and Python but also C++ and Java.

  I like building new stuff and work with other people – nothing really interesting is ever built alone!<br><br><br>

  My main interests are:<br>
  – Software architecture<br>
  – High availability<br>
  – Distributed Systems<br>
  – Java/JVM/Kotlin<br>
  – Python<br>
  – Rust<br>
  – Concurrent programming<br>
  – Reactive Programming<br>
  – Learning new programming languages<br>
  – English and Spanish<br>
  – Writing<br>
  – Birds, Ecology and Conservation Biology<br><br><br>

  My working philosophies:<br>
  – Communication and collaboration with other developers and stakeholders is the key to a successful project<br>
  – Use the right tool for the job. A programming language is just a tool!<br>
  – Always try to learn something new<br><br><br>

  Beside programming I am interested in sports (running, mountain biking, strength training) and birds, especially raptors (like eagles, vultures, hawks, etc) and their ecology and conservation.
  I run the europeanraptors.org website and I am responsible for the raptor interviews on africanraptors.org.
  I am also very interested in the conservation and ecology of large predators like wolves, bears, tigers, lions, pumas or leopards.<br>

  I also like foreign languages and am currently putting a lot of effort into becoming fluent in Spanish. I consider myself advanced right now.
  And of course it is always fun to learn something new about English (in which I am already fluent).</p>


  </div>

