
  <div class="contaner">
    <div class="row  my-4"  >

      <div id="nav">
          <mat-drawer-container class="example-container" >
           <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-drawer-container>
    </div>
      <mat-drawer #drawer class="pt-5 " id="drawer" (mouseleave)="hidetoggle() " >
        <ul>&nbsp;&nbsp;&nbsp;&nbsp;<li></li>&nbsp;&nbsp;<li></li>&nbsp;&nbsp;<li></li>&nbsp;&nbsp;<li></li>
          <li><mat-icon aria-hidden="false" aria-label="Example home icon"  class=" material-icons md-36"> home</mat-icon>&nbsp; Home</li>
          <a routerLink="sign up"> <li><mat-icon>login</mat-icon>&nbsp; Sign Up</li></a>
          <a routerLink="aboutme"><li> <span class="material-icons"> sentiment_satisfied_alt</span>&nbsp; About Me</li></a>
          <li><span class="material-icons">folder </span>&nbsp; My Projects</li>
                    <ol>
                     <li> <a routerLink="calculator"><span class="material-icons"> calculate</span>Calculator</a></li>
                      <li> <a routerLink="biodata"><span class="material-icons"> book </span>Bio Data</a></li>
                      <li><a routerLink="arrayobject"><span class="material-icons"> flutter_dash </span>Array Object</a></li>
                      <li><a routerLink="registration"><span class="material-icons"> edit </span>Registration </a></li>
                      <li><a routerLink="lovecal"><span class="material-icons"> favorite </span>Love Caculator </a></li>


                    </ol>
          <li  ><span class="material-icons">  photo_library</span>&nbsp;  Gallary</li>
          <li> <a routerLink="contact"><span class="material-icons">contacts </span>&nbsp; Contact  to Me</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
      </mat-drawer>
      </div>
    </div>




<router-outlet> </router-outlet>
