#animation
{
  margin-top: 150px;
  font-family: 'Times New Roman', Times, serif;
  background-color: cornflowerblue;
}

table{
  font-family: 'Times New Roman', Times, serif;

}
#changebtn{
  background-color: transparent;
  border: none;
}
